<%= form_with(model: sql_query, local: true) do |form| %>
  <% if sql_query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sql_query.errors.count, "error") %> prohibited this sql_query from being saved:</h2>

      <ul>
      <% sql_query.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
